In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
dtrain = pd.read_csv("Data/train.csv")

In [3]:
dtrain

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.30,Premium,D,SI2,62.4,58.0,4.31,4.28,2.68,6.353
1,1,1.01,Ideal,E,VVS2,62.7,56.0,6.42,6.46,4.04,9.183
2,2,0.72,Ideal,F,VS2,61.8,59.0,5.71,5.74,3.54,7.983
3,3,1.08,Very Good,G,SI2,63.2,57.0,6.54,6.50,4.12,8.371
4,4,0.36,Premium,G,VS1,62.3,59.0,4.50,4.55,2.82,6.588
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.42,Premium,D,SI2,62.1,59.0,4.78,4.82,2.98,6.551
40451,40451,0.53,Premium,G,VS2,62.0,58.0,5.21,5.18,3.22,7.382
40452,40452,0.80,Good,G,SI2,62.8,58.0,5.86,5.90,3.69,7.768
40453,40453,1.01,Very Good,F,VS2,61.5,57.0,6.40,6.48,3.96,8.726
40454,40454,1.30,Premium,I,VS2,60.1,58.0,7.10,7.14,4.28,8.771

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
dtrain.cut = le.fit_transform(dtrain["cut"])

In [6]:
dtrain.color = le.fit_transform(dtrain["color"])

In [7]:
dtrain.clarity = le.fit_transform(dtrain["clarity"])

In [8]:
dtrain.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.30    3      0        3   62.4   58.0  4.31  4.28  2.68  6.353
1   1   1.01    2      1        7   62.7   56.0  6.42  6.46  4.04  9.183
2   2   0.72    2      2        5   61.8   59.0  5.71  5.74  3.54  7.983
3   3   1.08    4      3        3   63.2   57.0  6.54  6.50  4.12  8.371
4   4   0.36    3      3        4   62.3   59.0  4.50  4.55  2.82  6.588

In [9]:
dtrain.corr()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
id,1.000000,-0.003045,-0.003574,-0.003016,0.001293,-0.000405,0.000783,-0.002447,-0.001936,-0.001273,-0.003194
carat,-0.003045,1.000000,0.018665,0.293307,-0.216311,0.023585,0.185478,0.974648,0.944419,0.947469,0.920064
cut,-0.003574,0.018665,1.000000,-0.001497,0.027990,-0.194806,0.152858,0.023935,0.028782,0.003749,0.025467
color,-0.003016,0.293307,-0.001497,1.000000,-0.029157,0.047839,0.028516,0.272222,0.263498,0.268702,0.157426
clarity,0.001293,-0.216311,0.027990,-0.029157,1.000000,-0.053877,-0.087732,-0.226816,-0.216966,-0.223912,-0.120575
depth,-0.000405,0.023585,-0.194806,0.047839,-0.053877,1.000000,-0.299203,-0.029867,-0.033960,0.089474,-0.003292
table,0.000783,0.185478,0.152858,0.028516,-0.087732,-0.299203,1.000000,0.200374,0.186788,0.153726,0.162804
x,-0.002447,0.974648,0.023935,0.272222,-0.226816,-0.029867,0.200374,1.000000,0.967315,0.965496,0.957668
y,-0.001936,0.944419,0.028782,0.263498,-0.216966,-0.033960,0.186788,0.967315,1.000000,0.941176,0.928909
z,-0.001273,0.947469,0.003749,0.268702,-0.223912,0.089474,0.153726,0.965496,0.941176,1.000000,0.930014
price,-0.003194,0.920064,0.025467,0.157426,-0.120575,-0.003292,0.162804,0.957668,0.928909,0.930014,1.000000

In [10]:
dtrain.drop(['id'], axis=1, inplace=True)
dtrain.drop(['depth'], axis=1, inplace=True)
dtrain.drop(['cut'], axis=1, inplace=True)

In [11]:
dtrain

       carat  color  clarity  table     x     y     z  price
0       0.30      0        3   58.0  4.31  4.28  2.68  6.353
1       1.01      1        7   56.0  6.42  6.46  4.04  9.183
2       0.72      2        5   59.0  5.71  5.74  3.54  7.983
3       1.08      3        3   57.0  6.54  6.50  4.12  8.371
4       0.36      3        4   59.0  4.50  4.55  2.82  6.588
...      ...    ...      ...    ...   ...   ...   ...    ...
40450   0.42      0        3   59.0  4.78  4.82  2.98  6.551
40451   0.53      3        5   58.0  5.21  5.18  3.22  7.382
40452   0.80      3        3   58.0  5.86  5.90  3.69  7.768
40453   1.01      2        5   57.0  6.40  6.48  3.96  8.726
40454   1.30      5        5   58.0  7.10  7.14  4.28  8.771

[40455 rows x 8 columns]

In [12]:
X = dtrain.drop("price", axis=1)

In [13]:
y = dtrain.price

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.15, random_state = None)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse

In [16]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [17]:
y_pred = linreg.predict(X_test)

In [18]:
mse(y_pred, y_test)

0.0559023910052611

In [19]:
ree = DecisionTreeRegressor(max_depth=14, min_samples_split=30)

In [20]:
ree.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=14, min_samples_split=30)

In [21]:
mse(y_test, ree.predict(X_test))

0.011689371785592944

In [22]:
rf = RandomForestRegressor(n_estimators=30, max_features=7, max_depth=10, min_samples_split=30)
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, max_features=7, min_samples_split=30,
                      n_estimators=30)

In [23]:
mse(y_test, rf.predict(X_test))

0.011857240501621803

In [24]:
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [25]:
from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK
from hyperopt.pyll import scope as ho_scope
from hyperopt.pyll.stochastic import sample as ho_sample
import xgboost as xgb

In [27]:
dtrain

       carat  color  clarity  table     x     y     z  price
0       0.30      0        3   58.0  4.31  4.28  2.68  6.353
1       1.01      1        7   56.0  6.42  6.46  4.04  9.183
2       0.72      2        5   59.0  5.71  5.74  3.54  7.983
3       1.08      3        3   57.0  6.54  6.50  4.12  8.371
4       0.36      3        4   59.0  4.50  4.55  2.82  6.588
...      ...    ...      ...    ...   ...   ...   ...    ...
40450   0.42      0        3   59.0  4.78  4.82  2.98  6.551
40451   0.53      3        5   58.0  5.21  5.18  3.22  7.382
40452   0.80      3        3   58.0  5.86  5.90  3.69  7.768
40453   1.01      2        5   57.0  6.40  6.48  3.96  8.726
40454   1.30      5        5   58.0  7.10  7.14  4.28  8.771

[40455 rows x 8 columns]

In [28]:
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()

In [29]:
dtrain["carat"] = min_max.fit_transform(dtrain["carat"].values.reshape(-1, 1))

In [30]:
dtrain["color"] = min_max.fit_transform(dtrain["color"].values.reshape(-1, 1))

In [31]:
dtrain["clarity"] = min_max.fit_transform(dtrain["clarity"].values.reshape(-1, 1))

In [33]:
dtrain["table"] = min_max.fit_transform(dtrain["table"].values.reshape(-1, 1))

In [34]:
dtrain["x"] = min_max.fit_transform(dtrain["x"].values.reshape(-1, 1))

In [35]:
dtrain["y"] = min_max.fit_transform(dtrain["y"].values.reshape(-1, 1))

In [36]:
dtrain["z"] = min_max.fit_transform(dtrain["z"].values.reshape(-1, 1))

In [38]:
dtrain

,carat,color,clarity,table,x,y,z,price
0,0.020790,0.000000,0.428571,0.274510,0.401304,0.072666,0.084277,6.353
1,0.168399,0.166667,1.000000,0.235294,0.597765,0.109677,0.127044,9.183
2,0.108108,0.333333,0.714286,0.294118,0.531657,0.097453,0.111321,7.983
3,0.182952,0.500000,0.428571,0.254902,0.608939,0.110357,0.129560,8.371
4,0.033264,0.500000,0.571429,0.294118,0.418994,0.077250,0.088679,6.588
...,...,...,...,...,...,...,...,...
40450,0.045738,0.000000,0.428571,0.294118,0.445065,0.081834,0.093711,6.551
40451,0.068607,0.500000,0.714286,0.274510,0.485102,0.087946,0.101258,7.382
40452,0.124740,0.500000,0.428571,0.274510,0.545624,0.100170,0.116038,7.768
40453,0.168399,0.333333,0.714286,0.254902,0.595903,0.110017,0.124528,8.726
40454,0.228690,0.833333,0.714286,0.274510,0.661080,0.121222,0.134591,8.771

In [39]:
X = dtrain.drop("price", axis=1)

In [40]:
y = dtrain.price

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [43]:
xgbr=xgb.XGBRegressor(verbosity=0)

In [44]:
space={
    
    'n_estimators': hp.quniform('n_estimators', 10, 10000, 20), # uniforme discreta de 10 a 1000 en saltos de 25
    
    'learning_rate': hp.uniform('learning_rate', 0.00001, 1.0), # uniforme continua entre 0.0001 y 1
    
    'gamma': hp.uniform('x_gamma', 0.1, 0.5)
}

In [45]:
def objetivo(space):
    
    modelo=xgb.XGBRegressor(n_estimators=int(space['n_estimators']),
                            learning_rate=space['learning_rate'],
                            gamma=space['gamma'],
                            objective='reg:squarederror'
                           )
    
    eval_set=[(X_train, y_train), (X_test, y_test)]
    
    modelo.fit(X_train, y_train, eval_set=eval_set, eval_metric='rmse', verbose=False)
    
    y_pred=modelo.predict(X_test)
    
    rmse=mse(y_test, y_pred)**0.5
    
    return {'loss': rmse, 'status': STATUS_OK}

In [46]:
mejor=fmin(fn=objetivo, space=space, algo=tpe.suggest, max_evals=10, trials=Trials())

mejor

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [05:11<00:00, 31.17s/trial, best loss: 0.09638814766550621]

{'learning_rate': 0.24244390882904132,
 'n_estimators': 280.0,
 'x_gamma': 0.10358893220560868}

In [47]:
modelo=xgb.XGBRegressor(n_estimators=int(mejor['n_estimators']), 
                       learning_rate=mejor['learning_rate'], 
                       gamma=mejor['x_gamma'],
                       objective='reg:squarederror')

In [49]:
a = modelo.fit(X_train, y_train)

In [50]:
y_pred=modelo.predict(X_test)

In [51]:
X_test

          carat     color   clarity     table         x         y         z
29860  0.313929  0.833333  0.428571  0.313725  0.698324  0.126655  0.153145
26282  0.207900  1.000000  0.714286  0.313725  0.649907  0.117997  0.131132
11058  0.041580  0.000000  0.714286  0.176471  0.444134  0.081494  0.093396
36464  0.062370  0.833333  0.285714  0.313725  0.467412  0.085739  0.098428
38711  0.172557  0.833333  0.428571  0.254902  0.601490  0.110357  0.126730
...         ...       ...       ...       ...       ...       ...       ...
19854  0.214137  0.500000  0.571429  0.274510  0.640596  0.116129  0.133333
27394  0.106029  0.666667  0.714286  0.284314  0.528864  0.097284  0.111635
2895   0.276507  0.666667  0.714286  0.294118  0.701117  0.128862  0.140881
860    0.087318  0.500000  0.714286  0.294118  0.513966  0.093039  0.105346
30945  0.068607  0.000000  0.714286  0.274510  0.486965  0.089304  0.099686

[8091 rows x 7 columns]

In [52]:
mse(y_test, y_pred)

0.00929067501038743

In [53]:
modelo

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.10358893220560868,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.24244390882904132, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=280, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [54]:
test_real = pd.read_csv("Data/test.csv")

In [55]:
test_real = test_real[['carat', 'color', 'clarity', 'table', 'x', 'y','z']]

In [56]:
test_real

       carat color clarity  table     x     y     z
0       0.32     I     SI1   58.0  4.43  4.49  2.70
1       1.24     I     SI1   60.0  6.80  6.74  4.26
2       1.66     D     SI1   59.0  7.55  7.60  4.70
3       0.75     D     SI2   56.0  5.94  5.90  3.59
4       1.50     E     SI2   55.0  7.26  7.15  4.67
...      ...   ...     ...    ...   ...   ...   ...
13480   1.10     G     SI1   60.0  6.74  6.70  4.00
13481   0.90     D     SI1   60.0  6.14  6.20  3.83
13482   0.30     F     VS2   53.3  4.30  4.32  2.68
13483   1.25     I     SI1   59.0  7.01  7.09  4.20
13484   0.81     F     SI1   58.0  5.96  5.92  3.66

[13485 rows x 7 columns]

In [58]:
test_real.color = le.fit_transform(test_real["color"])
test_real.clarity = le.fit_transform(test_real["clarity"])

In [59]:
test_real

       carat  color  clarity  table     x     y     z
0       0.32      5        2   58.0  4.43  4.49  2.70
1       1.24      5        2   60.0  6.80  6.74  4.26
2       1.66      0        2   59.0  7.55  7.60  4.70
3       0.75      0        3   56.0  5.94  5.90  3.59
4       1.50      1        3   55.0  7.26  7.15  4.67
...      ...    ...      ...    ...   ...   ...   ...
13480   1.10      3        2   60.0  6.74  6.70  4.00
13481   0.90      0        2   60.0  6.14  6.20  3.83
13482   0.30      2        5   53.3  4.30  4.32  2.68
13483   1.25      5        2   59.0  7.01  7.09  4.20
13484   0.81      2        2   58.0  5.96  5.92  3.66

[13485 rows x 7 columns]

In [60]:
test_real["carat"] = min_max.fit_transform(test_real["carat"].values.reshape(-1, 1))
test_real["color"] = min_max.fit_transform(test_real["color"].values.reshape(-1, 1))
test_real["clarity"] = min_max.fit_transform(test_real["clarity"].values.reshape(-1, 1))
test_real["table"] = min_max.fit_transform(test_real["table"].values.reshape(-1, 1))
test_real["x"] = min_max.fit_transform(test_real["x"].values.reshape(-1, 1))
test_real["y"] = min_max.fit_transform(test_real["y"].values.reshape(-1, 1))
test_real["z"] = min_max.fit_transform(test_real["z"].values.reshape(-1, 1))

In [61]:
prediccionreal = modelo.predict(test_real)

In [62]:
prediccionreal

array([7.7154536, 9.421124 , 9.726586 , ..., 7.6641674, 9.420384 ,
       8.931057 ], dtype=float32)

In [ ]:
test_real

In [ ]:
submission11= pd.DataFrame(test_real.id)

In [ ]:
submission11

In [ ]:
submission11['price'] = prediccionreal.tolist()

In [ ]:
a = submission11.set_index('id',drop=True, append=False, inplace=False, verify_integrity=False)

In [ ]:
a

In [ ]:
a.to_csv("Data/submission15.csv")

In [ ]:
import h2o
from h2o.automl import H2OAutoML

In [ ]:
X

In [ ]:
y